BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H5 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H6 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
HR {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
BLOCKQUOTE {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
OL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
PRE {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
FIELDSET {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
LEGEND {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
BUTTON {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
INPUT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
TEXTAREA {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
TH {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
BODY {
	FONT: 12px/1.5 arial,宋体,sans-serif
}
BUTTON {
	FONT: 12px/1.5 arial,宋体,sans-serif
}
INPUT {
	FONT: 12px/1.5 arial,宋体,sans-serif
}
SELECT {
	FONT: 12px/1.5 arial,宋体,sans-serif
}
TEXTAREA {
	FONT: 12px/1.5 arial,宋体,sans-serif
}
H1 {
	FONT-SIZE: 100%
}
H2 {
	FONT-SIZE: 100%
}
H3 {
	FONT-SIZE: 100%
}
H4 {
	FONT-SIZE: 100%
}
H5 {
	FONT-SIZE: 100%
}
H6 {
	FONT-SIZE: 100%
}
ADDRESS {
	FONT-STYLE: normal
}
CITE {
	FONT-STYLE: normal
}
DFN {
	FONT-STYLE: normal
}
EM {
	FONT-STYLE: normal
}
VAR {
	FONT-STYLE: normal
}
CODE {
	FONT-FAMILY: courier new,courier,monospace
}
KBD {
	FONT-FAMILY: courier new,courier,monospace
}
PRE {
	FONT-FAMILY: courier new,courier,monospace
}
SAMP {
	FONT-FAMILY: courier new,courier,monospace
}
SMALL {
	FONT-SIZE: 12px
}
UL {
	LIST-STYLE-TYPE: none
}
OL {
	LIST-STYLE-TYPE: none
}
A {
	TEXT-DECORATION: none
}
A:hover {
	TEXT-DECORATION: underline
}
LEGEND {
	COLOR: #000
}
FIELDSET {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
BUTTON {
	FONT-SIZE: 100%
}
INPUT {
	FONT-SIZE: 100%
}
SELECT {
	FONT-SIZE: 100%
}
TEXTAREA {
	FONT-SIZE: 100%
}
TABLE {
	BORDER-COLLAPSE: collapse; border-spacing: 0
}
IMG {
	ms-interpolation-mode: bicubic
}
#page {
	MARGIN-LEFT: auto; MARGIN-RIGHT: auto
}
#header {
	MARGIN-LEFT: auto; MARGIN-RIGHT: auto
}
#content {
	MARGIN-LEFT: auto; MARGIN-RIGHT: auto
}
#footer {
	MARGIN-LEFT: auto; MARGIN-RIGHT: auto
}
.w950 {
	WIDTH: 950px
}
.w1000 {
	WIDTH: 1000px
}
.col-main {
	MIN-HEIGHT: 1px; FLOAT: left; WIDTH: 100%
}
.col-sub {
	FLOAT: left
}
.col-extra {
	FLOAT: left
}
.layout:unknown {
	CLEAR: both; DISPLAY: block; HEIGHT: 0px; content: ' '
}
.main-wrap:unknown {
	CLEAR: both; DISPLAY: block; HEIGHT: 0px; content: ' '
}
.col-sub:unknown {
	CLEAR: both; DISPLAY: block; HEIGHT: 0px; content: ' '
}
.col-extra:unknown {
	CLEAR: both; DISPLAY: block; HEIGHT: 0px; content: ' '
}
.layout {
	ZOOM: 1
}
.main-wrap {
	ZOOM: 1
}
.col-sub {
	ZOOM: 1
}
.col-extra {
	ZOOM: 1
}
.grid-m0s245 .main-wrap {
	MARGIN-RIGHT: 255px
}
.grid-m0s245 .col-sub {
	MARGIN-LEFT: -245px; WIDTH: 245px
}
.w745 {
	WIDTH: 745px
}
.w1000 {
	WIDTH: 1000px
}
.hidden {
	DISPLAY: none
}
.invisible {
	VISIBILITY: hidden
}
.clearfix:unknown {
	CLEAR: both; DISPLAY: block; HEIGHT: 0px; content: ' '
}
.clearfix {
	ZOOM: 1
}
.clear {
	CLEAR: both; FONT-SIZE: 0px; VISIBILITY: visible; LINE-HEIGHT: 0; HEIGHT: 0px
}
.text-wrap {
	WORD-BREAK: break-all; WORD-WRAP: break-word
}
.text-nowrap {
	WORD-BREAK: keep-all; WHITE-SPACE: nowrap
}
.red {
	COLOR: red
}
.slide {
	BORDER-TOP-WIDTH: 8px; BORDER-LEFT-WIDTH: 8px; FONT-SIZE: 0px; BORDER-BOTTOM-WIDTH: 8px; OVERFLOW: hidden; WIDTH: 0px; LINE-HEIGHT: 0; HEIGHT: 0px; BORDER-RIGHT-WIDTH: 8px
}
.s-left {
	BORDER-LEFT-COLOR: transparent; BORDER-BOTTOM-COLOR: transparent; BORDER-TOP-STYLE: dashed; BORDER-TOP-COLOR: transparent; BORDER-RIGHT-STYLE: solid; BORDER-LEFT-STYLE: dashed; BORDER-RIGHT-COLOR: #ccc; BORDER-BOTTOM-STYLE: dashed
}
.s-right {
	BORDER-LEFT-COLOR: #ccc; BORDER-BOTTOM-COLOR: transparent; BORDER-TOP-STYLE: dashed; BORDER-TOP-COLOR: transparent; BORDER-RIGHT-STYLE: dashed; BORDER-LEFT-STYLE: solid; BORDER-RIGHT-COLOR: transparent; BORDER-BOTTOM-STYLE: dashed
}
#pop-shadow {
	Z-INDEX: 65534; BACKGROUND: #000; FILTER: alpha(opacity=25); LEFT: 0px; WIDTH: 100%; POSITION: absolute; TOP: 0px; HEIGHT: 100%; opacity: .25
}
#pop-shadow-iframe {
	FILTER: alpha(opacity=0); LEFT: 0px; WIDTH: 100%; POSITION: absolute; TOP: 0px; HEIGHT: 100%; opacity: 0
}
#pop-main {
	Z-INDEX: 65535; LEFT: 300px; WIDTH: 500px; LINE-HEIGHT: 20px; POSITION: absolute; TOP: 200px
}
#pop-shadow-bg {
	Z-INDEX: -1; BACKGROUND: #000; FILTER: alpha(opacity=0); LEFT: 5px; WIDTH: 100%; POSITION: absolute; TOP: 5px; opacity: .25
}
#pop-close {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: url(http://img.baidu.com/hi/img/dialogclose.gif) no-repeat; FLOAT: right; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 3px 0px 0px; WIDTH: 19px; CURSOR: pointer; PADDING-TOP: 0px; HEIGHT: 19px; BORDER-RIGHT-WIDTH: 0px
}
.p-bg {
	BORDER-RIGHT: #709cd2 1px solid; BORDER-TOP: #709cd2 1px solid; BORDER-LEFT: #709cd2 1px solid; BORDER-BOTTOM: #709cd2 1px solid
}
.p-top {
	BACKGROUND: #709cd2; HEIGHT: 24px
}
.p-title {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 14px; PADDING-BOTTOM: 0px; COLOR: #fff; LINE-HEIGHT: 24px; PADDING-TOP: 0px; HEIGHT: 24px
}
#p-title {
	moz-user-select: none
}
.p-body {
	PADDING-LEFT: 10px; FONT-SIZE: 14px; BACKGROUND: #fff; ZOOM: 1
}
.p-body-inner {
	PADDING-RIGHT: 10px
}
.p-r1 {
	OVERFLOW: hidden; WIDTH: 10px; HEIGHT: 5px
}
.p-r2 {
	OVERFLOW: hidden; WIDTH: 10px; HEIGHT: 5px
}
.p-r3 {
	OVERFLOW: hidden; WIDTH: 10px; HEIGHT: 5px
}
.p-r4 {
	OVERFLOW: hidden; WIDTH: 10px; HEIGHT: 5px
}
.p-r1 {
	BACKGROUND-POSITION: 0px -62px; FLOAT: left
}
.p-r2 {
	BACKGROUND-POSITION: -10px -62px; FLOAT: right
}
.p-r3 {
	BACKGROUND-POSITION: 0px -67px; FLOAT: left; HEIGHT: 10px
}
.p-r4 {
	BACKGROUND-POSITION: -10px -67px; FLOAT: right; HEIGHT: 10px
}
.p-bottom {
	BACKGROUND: #fff; HEIGHT: 10px
}
#pop-iframe-content {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: hidden; PADDING-TOP: 0px
}
#pop-text-content {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#usrbar {
	FONT-SIZE: 12px; Z-INDEX: 10000; RIGHT: 10px; POSITION: absolute; TOP: 8px; TEXT-ALIGN: right
}
#usrbar A {
	COLOR: #00c; TEXT-DECORATION: underline
}
.usrbar-split {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
IMG.down-arrow {
	BORDER-RIGHT: #fff 1px solid; BORDER-TOP: #fff 1px solid; BORDER-LEFT: #fff 1px solid; CURSOR: pointer; BORDER-BOTTOM: #fff 1px solid
}
IMG.down-arrow-hover {
	BORDER-RIGHT: #999 1px solid; BORDER-TOP: #999 1px solid; BACKGROUND: #f7f7f7; BORDER-LEFT: #999 1px solid; CURSOR: pointer; BORDER-BOTTOM: #999 1px solid
}
#nav_extra {
	FONT-SIZE: 12px; Z-INDEX: 65535; WIDTH: 80px; POSITION: absolute; TOP: -2px; TEXT-ALIGN: left
}
#nav_extra A {
	FONT-SIZE: 12px; COLOR: #00c
}
#nav_extra .top {
	BORDER-RIGHT: #999 1px solid; BORDER-TOP: #999 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 12px; Z-INDEX: 65531; BACKGROUND: url(http://img.baidu.com/hi/img/mfu/my_ico.gif) #fff no-repeat 60px 3px; BORDER-LEFT: #999 1px solid; WIDTH: 77px; TEXT-INDENT: 5px; LINE-HEIGHT: 13px; PADDING-TOP: 4px; BORDER-BOTTOM: #999 1px; POSITION: absolute; HEIGHT: 16px
}
#nav_extra .body {
	BORDER-RIGHT: #999 1px solid; BORDER-TOP: #999 1px solid; Z-INDEX: 65530; BACKGROUND: #fff; BORDER-LEFT: #999 1px solid; WIDTH: 77px; LINE-HEIGHT: 20px; BORDER-BOTTOM: #999 1px solid; POSITION: absolute; TOP: 18px
}
#nav_extra .body A {
	DISPLAY: block; WIDTH: 100%; TEXT-INDENT: 5px; LINE-HEIGHT: 20px; HEIGHT: 20px
}
#nav_extra .body A:hover {
	BACKGROUND: #e4e4e4
}
#my_home_container {
	PADDING-RIGHT: 20px; FONT-WEIGHT: bold; BACKGROUND: url(http://img.baidu.com/hi/img/mfu/my_ico.gif) no-repeat 55px 0px
}
IMG {
	ms-interpolation-mode: bicubic
}
.usertitle {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: url(http://img.baidu.com/img/baike/titles.gif) no-repeat; BORDER-BOTTOM-WIDTH: 0px; WIDTH: 60px; HEIGHT: 16px; BORDER-RIGHT-WIDTH: 0px
}
.level2 {
	BACKGROUND-POSITION: 0px -23px
}
.level3 {
	BACKGROUND-POSITION: 0px -46px
}
.level4 {
	BACKGROUND-POSITION: 0px -68px
}
.level5 {
	BACKGROUND-POSITION: 0px -89px
}
.level6 {
	BACKGROUND-POSITION: 0px -121px
}
.level7 {
	BACKGROUND-POSITION: 0px -144px
}
.level8 {
	BACKGROUND-POSITION: 0px -167px
}
.level9 {
	BACKGROUND-POSITION: 0px -190px
}
.level10 {
	BACKGROUND-POSITION: 0px -214px
}
.level11 {
	BACKGROUND-POSITION: 0px -248px
}
.level12 {
	BACKGROUND-POSITION: 0px -271px
}
.level13 {
	BACKGROUND-POSITION: 0px -294px
}
.level14 {
	BACKGROUND-POSITION: 0px -317px
}
.level15 {
	BACKGROUND-POSITION: 0px -340px; WIDTH: 75px
}
A {
	COLOR: #136ec2; TEXT-DECORATION: underline
}
A:hover {
	TEXT-DECORATION: underline
}
A:visited {
	COLOR: #136ec2
}
#header {
	MARGIN-TOP: 26px
}
#search {
	MARGIN-BOTTOM: 16px; WIDTH: 780px
}
#search A {
	COLOR: #00c; TEXT-DECORATION: underline
}
#logo {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; WIDTH: 146px; PADDING-TOP: 3px; ZOOM: 1; POSITION: relative
}
#logo IMG {
	DISPLAY: block
}
#logo .logo-xjd {
	POSITION: absolute; TOP: -20px
}
#logo {
	FLOAT: left
}
#search-content {
	FLOAT: left
}
#help {
	FLOAT: left
}
#word {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 3px; MARGIN: 0px 7px 0px 0px; FONT: 16px arial; WIDTH: 358px; PADDING-TOP: 3px
}
.search-btn {
	FONT-SIZE: 14px; MARGIN: 0px 7px 0px 0px; WIDTH: 78px; LINE-HEIGHT: 24px; HEIGHT: 28px
}
.nv {
	MARGIN: 0px 0px 3px
}
.nv A {
	FONT-SIZE: 14px; MARGIN-RIGHT: 13px
}
.nv STRONG {
	FONT-SIZE: 14px; MARGIN-RIGHT: 10px
}
#help {
	MARGIN-TOP: 27px
}
#help A {
	MARGIN-RIGHT: 7px
}
.tangram_sug_wpr {
	BORDER-RIGHT: #817f82 1px solid; BORDER-TOP: #817f82 1px solid; Z-INDEX: 9999; LEFT: 0px; BORDER-LEFT: #817f82 1px solid; BORDER-BOTTOM: #817f82 1px solid; POSITION: absolute; TOP: 28px
}
.tangram_sug_wpr TABLE {
	BACKGROUND: #fff; WIDTH: 100%; CURSOR: default
}
.tangram_sug_wpr TD {
	FONT: 14px/20px verdana
}
.tangram_sug_mo {
	BACKGROUND: #36c; COLOR: #fff
}
.tangram_sug_ml {
	BACKGROUND: #fff; COLOR: #000
}
.tangram_sug_app {
	BACKGROUND: #fff
}
.tangram_sug_pre {
	BACKGROUND: #fff
}
.sug_close {
	PADDING-RIGHT: 2px; LINE-HEIGHT: 20px; TEXT-ALIGN: right
}
.red {
	COLOR: red
}
#header {
	MARGIN-TOP: 26px
}
#footer {
	CLEAR: both; MARGIN-TOP: 10px; FONT: 12px/1.5 Arial; COLOR: #77c; WHITE-SPACE: nowrap; TEXT-ALIGN: center
}
#footer A:link {
	CLEAR: both; MARGIN-TOP: 10px; FONT: 12px/1.5 Arial; COLOR: #77c; WHITE-SPACE: nowrap; TEXT-ALIGN: center
}
#footer A:visited {
	CLEAR: both; MARGIN-TOP: 10px; FONT: 12px/1.5 Arial; COLOR: #77c; WHITE-SPACE: nowrap; TEXT-ALIGN: center
}
BODY {
	BACKGROUND: url(about:blank) fixed
}
#view #wrap {
	MARGIN: 0px auto; WIDTH: 1000px
}
#view #page {
	BACKGROUND: url(http://img.baidu.com/img/baike/s/nav-bg.gif) #fafafa repeat-x 0px -34px
}
#view #content {
	MARGIN-TOP: 14px
}
#view #side {
	MARGIN-TOP: 34px; BACKGROUND-COLOR: #fafafa
}
.col-sub A {
	TEXT-DECORATION: none
}
#path {
	BACKGROUND: url(http://img.baidu.com/img/baike/s/nav-bg.gif) repeat-x; WIDTH: 100%; WHITE-SPACE: nowrap
}
#path UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#path UL LI {
	PADDING-RIGHT: 18px; PADDING-LEFT: 12px; FONT-WEIGHT: bold; FONT-SIZE: 14px; FLOAT: left; PADDING-BOTTOM: 0px; LINE-HEIGHT: 34px; PADDING-TOP: 0px; HEIGHT: 34px
}
#path UL LI A {
	COLOR: #fff; WHITE-SPACE: nowrap; TEXT-DECORATION: none
}
#lemma-nav-expo {
	PADDING-LEFT: 18px; BACKGROUND: url(http://img.baidu.com/img/baike/s/expo.gif) no-repeat 10px 0px; WIDTH: 94px; HEIGHT: 27px; TEXT-ALIGN: left
}
#lemma-nav-expo A {
	DISPLAY: block; WIDTH: 60px; POSITION: absolute
}
#lemma-nav-ppqw-hot {
	BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://img.baidu.com/img/baike/icons/hot.png"); LEFT: 755px; WIDTH: 24px; POSITION: relative; TOP: -38px; HEIGHT: 15px
}
.nav-ppqw-hot-wrapper {
	POSITION: absolute
}
.mod-top {
	MARGIN-BOTTOM: 30px
}
.mod-index-top {
	PADDING-BOTTOM: 10px
}
#content .main-shadow {
	BACKGROUND: url(http://img.baidu.com/img/baike/s/c-bg.png); PADDING-BOTTOM: 3px
}
#content .content-hd {
	BACKGROUND: url(http://img.baidu.com/img/baike/s/hd-bg.gif) #fff no-repeat right top; BORDER-LEFT: #ddd 1px solid; HEIGHT: 9px
}
#content .content-hd-wrap {
	BORDER-TOP: #ddd 1px solid; MARGIN-RIGHT: 6px
}
#content .content-bd {
	CLEAR: both; BORDER-RIGHT: #ddd 1px solid; PADDING-RIGHT: 30px; BORDER-TOP: #ddd 1px solid; PADDING-LEFT: 20px; BACKGROUND: #fff; PADDING-BOTTOM: 10px; MARGIN: 4px 3px 0px 0px; BORDER-LEFT: #ddd 1px solid; PADDING-TOP: 16px; BORDER-BOTTOM: #ddd 1px solid
}
#content .content-ft {
	CLEAR: both; BORDER-RIGHT: #ddd 1px solid; PADDING-RIGHT: 30px; BORDER-TOP: #ddd 1px solid; PADDING-LEFT: 20px; BACKGROUND: #fff; PADDING-BOTTOM: 10px; MARGIN: 4px 3px 0px 0px; BORDER-LEFT: #ddd 1px solid; PADDING-TOP: 16px; BORDER-BOTTOM: #ddd 1px solid
}
#content .main-body {
	MARGIN-TOP: 0px; BORDER-TOP-STYLE: none
}
#content .content-ft {
	FONT-SIZE: 12px
}
#view #footer {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; BACKGROUND: #fafafa; PADDING-BOTTOM: 10px; MARGIN: 0px 0px 20px; PADDING-TOP: 10px
}
.bk-feedback {
	BORDER-RIGHT: #ddd 1px dashed; BORDER-TOP: #ddd 1px dashed; PADDING-LEFT: 40px; BACKGROUND: url(http://img.baidu.com/img/baike/s/feedback.gif) no-repeat 10px 9px; MARGIN-BOTTOM: 10px; BORDER-LEFT: #ddd 1px dashed; COLOR: #333; LINE-HEIGHT: 30px; BORDER-BOTTOM: #ddd 1px dashed; HEIGHT: 30px
}
.bk-feedback A {
	TEXT-DECORATION: none
}
.article {
	FONT-SIZE: 14px; WORD-BREAK: break-all; WORD-WRAP: break-word
}
.text {
	CLEAR: both; LINE-HEIGHT: 24px
}
.module-block {
	BACKGROUND-COLOR: #fafafa
}
H1.title {
	MARGIN-TOP: 5px; FONT-WEIGHT: 500; FONT-SIZE: 30px; MARGIN-BOTTOM: 30px; WIDTH: 580px; LINE-HEIGHT: 1; FONT-FAMILY: "微软雅黑","黑体","Verdana"
}
.editable-lemma {
	DISPLAY: block; BACKGROUND: url(http://img.baidu.com/img/baike/s/edit_btn.gif) no-repeat; FLOAT: right; OVERFLOW: hidden; WIDTH: 107px; CURSOR: pointer; HEIGHT: 34px
}
.hover {
	BACKGROUND-POSITION: 0px -37px
}
.pic-handle {
	BORDER-RIGHT: #fff 1px solid; BORDER-TOP: #fff 1px solid; DISPLAY: block; FONT-SIZE: 0px; RIGHT: 4px; BACKGROUND: url(http://img.baidu.com/img/baike/s/zoom.gif) no-repeat 0px 0px; BORDER-LEFT: #fff 1px solid; WIDTH: 14px; BOTTOM: 4px; LINE-HEIGHT: 0; BORDER-BOTTOM: #fff 1px solid; POSITION: absolute; HEIGHT: 14px; TEXT-DECORATION: none
}
A.pic-handle:hover {
	TEXT-DECORATION: none
}
.text_pic .pic-handle {
	BORDER-RIGHT: #f6f6f6 1px solid; BORDER-TOP: #f6f6f6 1px solid; BORDER-LEFT: #f6f6f6 1px solid; BORDER-BOTTOM: #f6f6f6 1px solid
}
.pic-hover A.pic-handle {
	BORDER-RIGHT: #ccc 1px solid; BACKGROUND-POSITION: 0px -14px; BORDER-TOP: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; BORDER-BOTTOM: #ccc 1px solid
}
.pic-hover A.pic-handle {
	BORDER-LEFT-COLOR: #ccc; BORDER-BOTTOM-COLOR: #ccc; BORDER-TOP-COLOR: #ccc; BORDER-RIGHT-COLOR: #ccc
}
.text_edit {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; FLOAT: right; MARGIN: 10px 0px 0px; COLOR: #36c
}
.text_edit A {
	DISPLAY: block; PADDING-LEFT: 18px; BACKGROUND: url(http://img.baidu.com/img/baike/s/edit.gif) no-repeat left 50%; WIDTH: 50px; LINE-HEIGHT: 16px; HEIGHT: 15px
}
#sidecatalog {
	POSITION: absolute
}
.card-title {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 14px; PADDING-BOTTOM: 4px; MARGIN: 10px 0px; LINE-HEIGHT: 1; PADDING-TOP: 4px; BORDER-BOTTOM: #ccc 2px solid
}
.card-summary {
	FONT-SIZE: 14px; MARGIN-BOTTOM: 20px; LINE-HEIGHT: 25px
}
.card-summary .pic {
	BORDER-RIGHT: #dedfe1 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #dedfe1 1px solid; PADDING-LEFT: 4px; FONT-SIZE: 0px; FLOAT: left; PADDING-BOTTOM: 8px; MARGIN: 2px 15px 0px 0px; BORDER-LEFT: #dedfe1 1px solid; WIDTH: 200px; LINE-HEIGHT: 0; PADDING-TOP: 4px; BORDER-BOTTOM: #dedfe1 1px solid; ZOOM: 1; POSITION: relative; BACKGROUND-COLOR: #fff; TEXT-ALIGN: center
}
.card-summary .pic DIV {
	FONT-SIZE: 12px; MIN-HEIGHT: 18px; LINE-HEIGHT: 18px; MARGIN-RIGHT: 20px; POSITION: relative; TOP: 3px; HEIGHT: 18px; TEXT-ALIGN: center
}
.card-info {
	MARGIN: 0px 0px 15px
}
.card-info-inner {
	OVERFLOW: hidden; WIDTH: 690px; BORDER-BOTTOM: #dedfe1 1px solid
}
.card-info TABLE.tableWrap {
	MARGIN-TOP: -1px; BORDER-COLLAPSE: collapse
}
.card-info TD.seperateTd {
	VERTICAL-ALIGN: top; WIDTH: 347px
}
.card-info TD.seperateTd TABLE {
	BORDER-COLLAPSE: collapse
}
.card-info TD.seperateTd TABLE TD {
	BORDER-TOP: #dedfe1 1px dashed; LINE-HEIGHT: 23px
}
DIV.oneHeightDiv {
	FONT-SIZE: 1px; LINE-HEIGHT: 1px; HEIGHT: 1px
}
.card-info TD.cardFirstTd {
	PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 13px; VERTICAL-ALIGN: top; WIDTH: 100px
}
.card-info TD.cardSecondTd {
	PADDING-RIGHT: 2px; FONT-SIZE: 13px; TEXT-ALIGN: right
}
.card-summary .more-link {
	MARGIN-TOP: 10px; FONT-SIZE: 14px
}
.card-summary .more-link UL LI SPAN {
	PADDING-LEFT: 12px; BACKGROUND: url(http://img.baidu.com/img/baike/s/url.gif) no-repeat left center
}
.card-summary .more-link UL LI {
	OVERFLOW: hidden; WHITE-SPACE: nowrap
}
#lemmaContent {
	OVERFLOW: hidden; WIDTH: 690px
}
#lemmaContent TABLE.editorTable {
	BORDER-RIGHT: #888 1px solid; BORDER-TOP: #888 1px solid; MARGIN-BOTTOM: 2px; BORDER-LEFT: #888 1px solid; BORDER-BOTTOM: #888 1px solid; BORDER-COLLAPSE: collapse; WORD-WRAP: break-word
}
#lemmaContent TABLE.editorTable TD {
	BORDER-RIGHT: #888 1px solid; BORDER-TOP: #888 1px solid; BORDER-LEFT: #888 1px solid; BORDER-BOTTOM: #888 1px solid; BORDER-COLLAPSE: collapse
}
#lemmaContent SUP {
	MARGIN-LEFT: 2px; CURSOR: pointer; COLOR: #36c
}
#lemmaContent H3 {
	FONT-SIZE: 16px; MARGIN: 15px 0px 5px; LINE-HEIGHT: 22px; FONT-FAMILY: Arial
}
#lemmaContent .text_pic {
	TEXT-ALIGN: center
}
#lemmaContent .text_pic IMG {
	DISPLAY: block
}
#lemmaContent .text_pic P {
	PADDING-RIGHT: 20px; FONT-WEIGHT: normal; FONT-SIZE: 12px; MIN-HEIGHT: 18px; MARGIN: 3px 0px 0px; OVERFLOW: hidden; COLOR: #666; WORD-BREAK: break-all; LINE-HEIGHT: 18px; FONT-STYLE: normal; HEIGHT: 18px; WORD-WRAP: break-word
}
#lemmaContent .text_pic P  {
	FONT-WEIGHT: normal; FONT-STYLE: normal
}
.text_pic {
	WIDTH: 200px
}
#lemmaContent TABLE {
	BORDER-RIGHT: #888 1px solid; BORDER-TOP: #888 1px solid; MARGIN: 8px 0px; BORDER-LEFT: #888 1px solid; WORD-BREAK: break-all; BORDER-BOTTOM: #888 1px solid; BORDER-COLLAPSE: collapse; WORD-WRAP: break-word; border-spacing: 0
}
#lemmaContent TD {
	BORDER-RIGHT: #888 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #888 1px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 3px; VERTICAL-ALIGN: top; BORDER-LEFT: #888 1px solid; LINE-HEIGHT: 18px; PADDING-TOP: 3px; BORDER-BOTTOM: #888 1px solid
}
.reinforce {
	FONT-SIZE: 12px
}
.lemma-ext-bottom A {
	TEXT-DECORATION: none
}
.reinforce A {
	TEXT-DECORATION: none
}
.lemma-ext-bottom A:hover {
	TEXT-DECORATION: underline
}
.reinforce A:hover {
	TEXT-DECORATION: underline
}
.reinforce DL {
	MARGIN-BOTTOM: 30px
}
.lemma-ext-bottom DT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 14px; MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 5px; LINE-HEIGHT: 1; PADDING-TOP: 2px; BORDER-BOTTOM: #ccc 1px dashed
}
.reinforce DT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 14px; MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 5px; LINE-HEIGHT: 1; PADDING-TOP: 2px; BORDER-BOTTOM: #ccc 1px dashed
}
.lemma-ext-bottom DT {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.reinforce DD {
	COLOR: #333; WORD-BREAK: break-all; WORD-WRAP: break-word
}
.reinforce DT SPAN {
	FONT-WEIGHT: normal
}
.reinforce .add {
	FONT-WEIGHT: normal; Z-INDEX: 8; RIGHT: 15px; MARGIN: 0px; COLOR: #36c; POSITION: absolute; TOP: 8px
}
.ref_more {
	PADDING-RIGHT: 10px; PADDING-LEFT: 0px; BACKGROUND: url(http://img.baidu.com/img/baike/s/arr.gif) no-repeat 28px -17px; FLOAT: right; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 16px; PADDING-TOP: 3px; WHITE-SPACE: nowrap; TEXT-DECORATION: none
}
.reference UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.reference UL LI {
	MARGIN-TOP: 12px; FONT-SIZE: 12px; WIDTH: 100%
}
.reference UL LI A .ref-url-text {
	TEXT-DECORATION: underline
}
.reference UL LI A IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
.reference UL LI A.ref-top {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; BACKGROUND: url(http://img.baidu.com/img/baike/s/up_down.gif) no-repeat -1px -78px; PADDING-BOTTOM: 0px; MARGIN-LEFT: 4px; OVERFLOW: hidden; WIDTH: 12px; PADDING-TOP: 0px; HEIGHT: 12px; TEXT-DECORATION: none
}
.reference UL LI A.ref-top:hover {
	BACKGROUND-POSITION: -43px -79px; TEXT-DECORATION: none
}
.ref-bd {
	MARGIN-LEFT: 26px
}
.ref-index {
	FLOAT: left
}
.line-2 {
	MARGIN-LEFT: 32px
}
.line-3 {
	MARGIN-LEFT: 36px
}
.refUrl {
	PADDING-LEFT: 4px
}
.ref-index .r-index {
	PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 10px; BACKGROUND: #eee; FLOAT: left; COLOR: #999; LINE-HEIGHT: 16px; HEIGHT: 16px; TEXT-ALIGN: right
}
.ref-index .slide {
	FLOAT: left
}
.ref-index .s-right {
	BORDER-LEFT-COLOR: #eee; BORDER-BOTTOM-COLOR: transparent; BORDER-TOP-COLOR: transparent; BORDER-RIGHT-COLOR: transparent
}
.r {
	FLOAT: right
}
.box2 {
	MARGIN-BOTTOM: 15px; MARGIN-RIGHT: 10px
}
.box2 H5 SPAN {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; FLOAT: right; MARGIN: 5px 8px 0px 0px; LINE-HEIGHT: 18px
}
.box2-inner .edit_it {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; FLOAT: right; MARGIN: 5px 8px 0px 0px; LINE-HEIGHT: 18px
}
.box2-inner .more_right {
	FONT-WEIGHT: normal; FLOAT: right; LINE-HEIGHT: 18px
}
.box2 H2 {
	FONT-SIZE: 14px; MARGIN-BOTTOM: 10px; LINE-HEIGHT: 25px; BORDER-BOTTOM: #ddd 1px solid
}
.box2 H5 {
	FONT-SIZE: 14px; MARGIN-BOTTOM: 10px; LINE-HEIGHT: 25px; BORDER-BOTTOM: #ddd 1px solid
}
.box2 H5 SPAN {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; FLOAT: right; MARGIN: 5px 8px 0px 0px; LINE-HEIGHT: 18px
}
.box2 H2 SPAN {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; FLOAT: right; MARGIN: 5px 8px 0px 0px; LINE-HEIGHT: 18px
}
#mabox .box2-inner {
	BORDER-RIGHT: #cce0ee 1px solid; PADDING-RIGHT: 6px; BORDER-TOP: #cce0ee 1px solid; PADDING-LEFT: 12px; BACKGROUND: #fff; PADDING-BOTTOM: 12px; BORDER-LEFT: #cce0ee 1px solid; PADDING-TOP: 6px; BORDER-BOTTOM: #cce0ee 1px solid
}
#mabox .box2-inner A FONT {
	FONT-SIZE: 12px
}
#mabox .box2-inner A {
	TEXT-DECORATION: underline
}
.pr12 {
	PADDING-RIGHT: 12px
}
#onelinespan A {
	MARGIN-RIGHT: 10px
}
.f12 {
	FONT-SIZE: 12px
}
.f12 TD {
	FONT-SIZE: 12px
}
.f12 TH {
	FONT-SIZE: 12px
}
.f12 DIV {
	FONT-SIZE: 12px
}
.l24 {
	LINE-HEIGHT: 24px
}
.endLinks {
	CLEAR: both; FONT-SIZE: 12px; MARGIN: 5px 0px 0px; WIDTH: 350px; LINE-HEIGHT: 20px
}
.endLinks A {
	MARGIN-LEFT: 22px
}
.endLinks-share A {
	MARGIN-LEFT: 22px
}
.endLinks-share {
	FONT-SIZE: 12px; MARGIN: 15px 0px 0px; WIDTH: 350px
}
.endLinks-share LI {
	DISPLAY: inline; FLOAT: left; WIDTH: 150px; LINE-HEIGHT: 20px
}
.endLinks LI {
	DISPLAY: inline; FLOAT: left; WIDTH: 150px; LINE-HEIGHT: 20px
}
.share {
	BORDER-RIGHT: #ddd 1px solid; BORDER-TOP: #ddd 1px solid; FONT-SIZE: 12px; BACKGROUND: #fafafa; MARGIN-BOTTOM: 30px; BORDER-LEFT: #ddd 1px solid; COLOR: #999; LINE-HEIGHT: 42px; BORDER-BOTTOM: #ddd 1px solid; HEIGHT: 42px
}
.share-item-title {
	BORDER-RIGHT: #ddd 1px solid; FLOAT: left; MARGIN: 2px 0px; WIDTH: 120px; HEIGHT: 38px; TEXT-ALIGN: center
}
.share-item {
	FLOAT: left; MARGIN-LEFT: 10px
}
.share-item SPAN {
	FLOAT: left
}
.share-item A {
	FLOAT: left; MARGIN: 14px 8px; WIDTH: 16px; HEIGHT: 16px; TEXT-DECORATION: none
}
.cang {
	DISPLAY: block; PADDING-LEFT: 16px; BACKGROUND: url(http://img.baidu.com/img/baike/bgs3.gif) no-repeat 0px 0px; MARGIN: 12px 0px 0px 20px; LINE-HEIGHT: 16px; HEIGHT: 16px; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.itieBa {
	BACKGROUND: url(http://img.baidu.com/img/baike/bgs4.gif) no-repeat 0px -61px
}
.tsina {
	BACKGROUND: url(http://img.baidu.com/img/baike/bgs4.gif) no-repeat 0px -126px
}
.tdouban {
	BACKGROUND: url(http://img.baidu.com/img/baike/bgs4.gif) no-repeat 0px -148px
}
.tsohu {
	BACKGROUND: url(http://s2.cr.itc.cn/img/t/152.png) no-repeat
}
.try {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 5px; COLOR: #333; PADDING-TOP: 0px
}
.try .edit {
	PADDING-LEFT: 20px; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(http://img.baidu.com/img/baike/bgs3.gif) no-repeat 0px -26px; MARGIN: 0px 5px
}
.text H2 {
	CLEAR: both; FONT-WEIGHT: bold; FONT-SIZE: 18px; PADDING-BOTTOM: 6px; MARGIN: 0px 0px 10px; LINE-HEIGHT: 24px; BORDER-BOTTOM: #dedfe1 1px solid
}
.text H2.first {
	CLEAR: none
}
.text .t_edit1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px; BACKGROUND: url(http://img.baidu.com/img/baike/bgs3.gif) no-repeat 0px -22px; FLOAT: right; PADDING-BOTTOM: 2px; MARGIN: 7px 5px 0px 0px; FONT: bold 14px "Arial"; PADDING-TOP: 3px
}
.text .t_edit2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 25px; BACKGROUND: url(http://img.baidu.com/img/baike/cardIcon.gif) no-repeat 5px -42px; FLOAT: right; PADDING-BOTTOM: 2px; MARGIN: 8px 5px 0px 0px; FONT: bold 14px "Arial"; PADDING-TOP: 3px
}
.text .t_polysemy {
	PADDING-RIGHT: 0px; PADDING-LEFT: 22px; BACKGROUND: url(http://img.baidu.com/img/baike/bgs4.gif) no-repeat 0px -27px; FLOAT: right; PADDING-BOTTOM: 2px; MARGIN: 8px 12px 0px 0px; FONT: bold 14px "Arial"; PADDING-TOP: 3px
}
.lock {
	MARGIN-TOP: 8px; FONT-WEIGHT: normal; FONT-SIZE: 14px; FLOAT: right; FONT-STYLE: normal; FONT-FAMILY: arial
}
.lock A {
	PADDING-LEFT: 18px; BACKGROUND: url(http://img.baidu.com/img/baike/lock_edit.gif) no-repeat; MARGIN-RIGHT: 5px; PADDING-TOP: 2px
}
.text_pic {
	BORDER-RIGHT: #e8e8e8 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #e8e8e8 1px solid; PADDING-LEFT: 5px; BACKGROUND: #f6f6f6; PADDING-BOTTOM: 5px; MARGIN: 5px; BORDER-LEFT: #e8e8e8 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #e8e8e8 1px solid
}
.text_pic H3 {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; MARGIN: 3px 0px 0px; OVERFLOW: hidden; COLOR: #666; WORD-BREAK: break-all; LINE-HEIGHT: 18px; FONT-STYLE: normal; TEXT-ALIGN: center; WORD-WRAP: break-word
}
.text_pic H3  {
	FONT-WEIGHT: normal; FONT-STYLE: normal
}
.text_vote1 {
	FONT-SIZE: 12px; BACKGROUND: url(http://img.baidu.com/img/baike/s/vote.gif) no-repeat; WIDTH: 146px; CURSOR: pointer; COLOR: #999; PADDING-TOP: 7px; HEIGHT: 46px; TEXT-ALIGN: center
}
.text_vote2 {
	FONT-SIZE: 12px; BACKGROUND: url(http://img.baidu.com/img/baike/s/vote.gif) no-repeat; WIDTH: 146px; CURSOR: pointer; COLOR: #999; PADDING-TOP: 7px; HEIGHT: 46px; TEXT-ALIGN: center
}
.text_vote1 B {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 65px; FONT-SIZE: 14px; PADDING-BOTTOM: 0px; COLOR: #44a701; PADDING-TOP: 2px; FONT-FAMILY: "Tahoma"; HEIGHT: 20px; TEXT-ALIGN: left
}
.text_vote2 B {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 65px; FONT-SIZE: 14px; PADDING-BOTTOM: 0px; COLOR: #44a701; PADDING-TOP: 2px; FONT-FAMILY: "Tahoma"; HEIGHT: 20px; TEXT-ALIGN: left
}
.text_vote2 {
	BACKGROUND-POSITION: 0px -54px; COLOR: #fff
}
.text_vote2 B {
	COLOR: #fff
}
.spctrl {
	FONT-SIZE: 12px; OVERFLOW: hidden; LINE-HEIGHT: 14px; HEIGHT: 14px
}
.bpctrl {
	OVERFLOW: hidden; LINE-HEIGHT: 30px; HEIGHT: 30px
}
.end {
	CLEAR: both; MARGIN: 10px 0px 30px; ZOOM: 1; POSITION: relative
}
.declare {
	FONT-SIZE: 12px; FLOAT: right; MARGIN: 5px 0px; WIDTH: 518px; COLOR: #333; LINE-HEIGHT: 1.6em
}
.ref {
	CLEAR: both; PADDING-RIGHT: 0px; BORDER-TOP: #ccc 1px dashed; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; ZOOM: 1; POSITION: relative
}
.no-border {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
#relatedLemmaDown .relative {
	Z-INDEX: 1
}
#relatedLemmaDown .related_edit {
	PADDING-LEFT: 14px; FONT-SIZE: 12px; BACKGROUND: url(http://img.baidu.com/img/baike/s/co_edit.gif) no-repeat left center; FLOAT: right; LINE-HEIGHT: 14px; HEIGHT: 14px
}
.word_more_con {
	BORDER-RIGHT: #dedfe1 1px solid; PADDING-RIGHT: 40px; BORDER-TOP: #dedfe1 1px solid; PADDING-LEFT: 10px; Z-INDEX: 5; BACKGROUND: #fff; LEFT: 0px; PADDING-BOTTOM: 6px; BORDER-LEFT: #dedfe1 1px solid; WIDTH: 610px; LINE-HEIGHT: 20px; PADDING-TOP: 6px; BORDER-BOTTOM: #dedfe1 1px solid; POSITION: absolute; TOP: 0px
}
#word_more {
	FONT-SIZE: 12px; Z-INDEX: 6; LEFT: 620px; OVERFLOW: hidden; WIDTH: 40px; CURSOR: pointer; POSITION: absolute; TOP: 0px; HEIGHT: 20px
}
.word_more1 DIV {
	BACKGROUND: url(http://img.baidu.com/img/baike/s/up_down.gif) no-repeat; HEIGHT: 20px
}
.word_more2 DIV {
	BACKGROUND: url(http://img.baidu.com/img/baike/s/up_down.gif) no-repeat; HEIGHT: 20px
}
.word_more1 DIV {
	BACKGROUND-POSITION: -32px 5px
}
.word_more1 DIV.hover {
	BACKGROUND-POSITION: -32px -26px
}
.word_more2 {
	TOP: 8px
}
.word_more2 DIV {
	BACKGROUND-POSITION: 10px 5px
}
.word_more2 .hover {
	BACKGROUND-POSITION: 10px -26px
}
.word_more_con A {
	MARGIN-RIGHT: 10px; WHITE-SPACE: nowrap
}
#co-editors {
	COLOR: #000
}
DIV.onelineonly {
	FLOAT: left; OVERFLOW: hidden; WIDTH: 600px; ZOOM: 1; POSITION: relative; HEIGHT: 20px
}
DIV.onelineonly UL {
	WIDTH: 615px; LIST-STYLE-TYPE: none
}
DIV.onelineonly UL LI {
	FLOAT: left; MARGIN: 0px 5px; LINE-HEIGHT: 22px
}
DIV.onelineonly A {
	FONT-SIZE: 14px; WHITE-SPACE: nowrap
}
DIV.onelineonly UL.onelineonlydun LI {
	MARGIN: 0px
}
DIV.materialLib {
	MARGIN: 12px 15px 5px
}
.mp3Material {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; OVERFLOW: hidden; PADDING-TOP: 0px; HEIGHT: 23px
}
.mp3Material SPAN {
	FLOAT: left; WIDTH: 60px
}
.mp3Material UL {
	FLOAT: left; OVERFLOW: hidden; WIDTH: 560px; LIST-STYLE-TYPE: none; HEIGHT: 16px
}
.mp3Material UL LI {
	FLOAT: left; MARGIN: 0px 5px; WHITE-SPACE: nowrap
}
.mp3Material A {
	WHITE-SPACE: nowrap
}
.moreMaterial {
	CLEAR: both; FONT-SIZE: 12px; MARGIN: 0px 0px 10px 5px; LINE-HEIGHT: 15px; HEIGHT: 18px
}
.moreMaterial A {
	PADDING-RIGHT: 10px; PADDING-LEFT: 0px; BACKGROUND: url(http://img.baidu.com/img/baike/bgs4.gif) no-repeat 50px -217px; FLOAT: right; PADDING-BOTTOM: 0px; PADDING-TOP: 3px; TEXT-DECORATION: none
}
.videoMaterial {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; POSITION: relative
}
.singleVideo {
	PADDING-RIGHT: 16px; PADDING-LEFT: 0px; BACKGROUND: url(http://img.baidu.com/img/head.gif) no-repeat; FLOAT: left; PADDING-BOTTOM: 6px; MARGIN: 10px 20px 0px 0px; WIDTH: 128px; PADDING-TOP: 13px; POSITION: relative
}
.videoTitle {
	FONT-SIZE: 12px; LINE-HEIGHT: 25px; TEXT-ALIGN: center
}
.videoTitleACut {
	WHITE-SPACE: nowrap
}
.pad14 {
	PADDING-RIGHT: 14px; PADDING-LEFT: 14px; PADDING-BOTTOM: 12px; PADDING-TOP: 6px
}
.info {
	COLOR: #666; LINE-HEIGHT: 22px
}
.topuser {
	COLOR: #666; LINE-HEIGHT: 24px
}
.topuser TD {
	PADDING-TOP: 2px
}
.topuser .usertitle {
	MARGIN-TOP: -1px
}
.topuser TH {
	TEXT-ALIGN: left
}
.topuser TD A {
	COLOR: #000
}
.more1 {
	PADDING-RIGHT: 10px; FONT-WEIGHT: normal; FONT-SIZE: 12px; BACKGROUND: url(http://img.baidu.com/img/baike/bgs3.gif) no-repeat -92px -259px; FLOAT: right; TEXT-DECORATION: none
}
.more2 {
	PADDING-RIGHT: 10px; FONT-WEIGHT: normal; FONT-SIZE: 12px; BACKGROUND: url(http://img.baidu.com/img/baike/bgs3.gif) no-repeat -92px -259px; FLOAT: right; TEXT-DECORATION: none
}
.more2 {
	BACKGROUND-POSITION: 26px -258px
}
.task {
	MARGIN-BOTTOM: 15px; COLOR: #333
}
.task DD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
.task DD IMG {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; BORDER-BOTTOM: #ccc 1px solid
}
.notice {
	COLOR: #333
}
.notice DD {
	PADDING-LEFT: 12px; FONT-SIZE: 12px; BACKGROUND: url(http://img.baidu.com/img/baike/bgs3.gif) no-repeat 2px -99px; LINE-HEIGHT: 22px
}
.notice SUP {
	COLOR: #f00; LINE-HEIGHT: 12px
}
.relative {
	POSITION: relative
}
.relatedHelp {
	PADDING-LEFT: 18px; BACKGROUND: url(http://img.baidu.com/img/baike/ico_bz.gif) no-repeat
}
.rel_word LI {
	PADDING-LEFT: 12px; BACKGROUND: url(http://img.baidu.com/img/baike/bgs3.gif) no-repeat 2px -326px; LINE-HEIGHT: 20px
}
.rel_word LI A.cutWord {
	WORD-BREAK: break-all; WORD-WRAP: break-word
}
.myedit {
	PADDING-LEFT: 15px; BACKGROUND: url(http://img.baidu.com/img/baike/bgs3.gif) no-repeat 0px -80px; MARGIN: 0px
}
.pcixin {
	MARGIN-TOP: 3px; COLOR: #a00
}
.ptitle {
	MARGIN-TOP: 3px
}
.pexplain {
	MARGIN-TOP: 3px; MARGIN-LEFT: 20px
}
.view-tip-pannel {
	MARGIN-BOTTOM: 30px
}
.view-tip-pannel P {
	BORDER-RIGHT: #ccc 1px dashed; PADDING-RIGHT: 8px; BORDER-TOP: #ccc 1px dashed; PADDING-LEFT: 8px; FONT-SIZE: 12px; FLOAT: left; PADDING-BOTTOM: 8px; BORDER-LEFT: #ccc 1px dashed; LINE-HEIGHT: 20px; PADDING-TOP: 8px; BORDER-BOTTOM: #ccc 1px dashed
}
.view-tip-pannel SPAN {
	FONT: bold 14px arial
}
.text_dir {
	CLEAR: both; BORDER-RIGHT: #dedfe1 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #dedfe1 1px solid; PADDING-LEFT: 0px; Z-INDEX: 1; BACKGROUND: #fff; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 30px; BORDER-LEFT: #dedfe1 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #dedfe1 1px solid; ZOOM: 1; POSITION: relative
}
.text_dir P {
	PADDING-LEFT: 10px; FONT-WEIGHT: bold; MARGIN: 0px 4px 10px; LINE-HEIGHT: 30px; BORDER-BOTTOM: #ddd 1px dashed
}
.text_dir DL {
	PADDING-RIGHT: 20px; PADDING-LEFT: 15px; BACKGROUND: #fff; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.text_dir DD {
	PADDING-LEFT: 16px; BACKGROUND: url(http://img.baidu.com/img/baike/s/list-dot.gif) no-repeat 0px 8px; LINE-HEIGHT: 22px; POSITION: relative
}
.text_dir OL {
	PADDING-RIGHT: 0px; DISPLAY: none; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; TEXT-INDENT: 14px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#catalog-holder {
	CLEAR: both; FONT-SIZE: 12px; RIGHT: 0px; BACKGROUND: url(http://img.baidu.com/img/baike/s/dir_arr.gif) #fafafa no-repeat 35px -44px; FLOAT: right; OVERFLOW: hidden; WIDTH: 50px; CURSOR: pointer; COLOR: #136ec2; TEXT-INDENT: 10px; LINE-HEIGHT: 20px; ZOOM: 1; POSITION: absolute; HEIGHT: 20px
}
.hover#catalog-holder {
	BACKGROUND-POSITION: 35px -68px
}
.up#holder2 #catalog-holder {
	BACKGROUND-POSITION: 35px 7px
}
.up#holder2 .hover#catalog-holder {
	BACKGROUND-POSITION: 35px -15px
}
.text_dir #holder1 {
	PADDING-BOTTOM: 10px
}
.text_dir #holder2 {
	BORDER-RIGHT: #dedfe1 1px solid; BORDER-TOP: #dedfe1 1px; DISPLAY: none; LEFT: -1px; PADDING-BOTTOM: 20px; BORDER-LEFT: #dedfe1 1px solid; BORDER-BOTTOM: #dedfe1 1px solid; POSITION: absolute; TOP: 41px
}
.text_dir .temp {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; OVERFLOW: hidden; PADDING-TOP: 0px
}
.text_dir .data LI {
	PADDING-LEFT: 16px; BACKGROUND: url(http://img.baidu.com/img/baike/s/list-dot.gif) #fff no-repeat 0px 10px; ZOOM: 1
}
.text_dir OL LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(http://img.baidu.com/img/baike/bgs3.gif) no-repeat 2px -327px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.text_dir .data LI LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(http://img.baidu.com/img/baike/bgs3.gif) no-repeat 2px -327px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.text_dir A {
	WHITE-SPACE: nowrap
}
DIV.polysemy {
	PADDING-RIGHT: 0px; BORDER-TOP: #ddd 2px solid; PADDING-LEFT: 35px; FONT-SIZE: 12px; BACKGROUND: url(http://img.baidu.com/img/baike/bgs4.gif) no-repeat 5px 6px; MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 0px; OVERFLOW: hidden; LINE-HEIGHT: 35px; PADDING-TOP: 0px; BORDER-BOTTOM: #ddd 2px solid; HEIGHT: 36px
}
DIV.polysemy A {
	FONT-SIZE: 14px
}
DIV.polysemyContentDiv {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; PADDING-BOTTOM: 15px; LINE-HEIGHT: 25px; PADDING-TOP: 15px
}
DIV.polysemyContentDiv INPUT {
	WIDTH: 360px
}
SPAN.polysemyExp {
	FONT-SIZE: 12px; COLOR: #aaa
}
SPAN.polysemyRed {
	FONT-SIZE: 12px; COLOR: #f66
}
.authority {
	CLEAR: both; FONT-SIZE: 12px; MARGIN-BOTTOM: 30px; LINE-HEIGHT: 20px; PADDING-TOP: 12px; ZOOM: 1; WHITE-SPACE: nowrap; POSITION: relative
}
.authority A {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #36c; WHITE-SPACE: nowrap
}
.authority P {
	BORDER-RIGHT: #ccc 1px dashed; PADDING-RIGHT: 20px; BORDER-TOP: #ccc 1px dashed; PADDING-LEFT: 40px; FLOAT: left; PADDING-BOTTOM: 6px; BORDER-LEFT: #ccc 1px dashed; PADDING-TOP: 6px; BORDER-BOTTOM: #ccc 1px dashed; WHITE-SPACE: nowrap
}
.authorityLogo {
	BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=image,src="http://img.baidu.com/img/baike/authority/authorityLogo.png"); LEFT: 0px; WIDTH: 36px; ZOOM: 1; POSITION: absolute; TOP: 0px; HEIGHT: 47px
}
.authImg {
	OVERFLOW: hidden; WIDTH: 226px; TEXT-ALIGN: left
}
.authContent P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 12px 0px 0px; PADDING-TOP: 0px
}
.authContent P A {
	FONT-SIZE: 14px; COLOR: #1852c7; TEXT-DECORATION: none
}
.authContent SPAN {
	LINE-HEIGHT: 20px
}
#userInfoDiv A {
	TEXT-DECORATION: none
}
#userInfoDiv {
	DISPLAY: none; ZOOM: 1; POSITION: relative
}
.box2#userInfoDiv {
	BACKGROUND: #e9f3f6; MARGIN: -11px 0px 0px -13px; BORDER-LEFT: #dde7e9 3px solid
}
#userMessage {
	PADDING-RIGHT: 0px; PADDING-LEFT: 13px; PADDING-BOTTOM: 0px; PADDING-TOP: 8px; ZOOM: 1
}
#userPic {
	BORDER-RIGHT: #e1e1e2 1px solid; BORDER-TOP: #e1e1e2 1px solid; MARGIN-TOP: 2px; FLOAT: left; BORDER-LEFT: #e1e1e2 1px solid; MARGIN-RIGHT: 8px; BORDER-BOTTOM: #e1e1e2 1px solid
}
#userDetail {
	FLOAT: left; OVERFLOW: hidden; WIDTH: 160px
}
#userDetail P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 6px; PADDING-TOP: 6px; WHITE-SPACE: nowrap
}
#userDetail P STRONG {
	FONT-SIZE: 12px; VERTICAL-ALIGN: bottom
}
#userTitle {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 2px
}
#kedoutuanPic {
	DISPLAY: none; MARGIN-RIGHT: 3px
}
#userTitle IMG {
	MARGIN-TOP: -2px
}
#masterPic {
	DISPLAY: none; MARGIN-RIGHT: 3px
}
#highVersionNum {
	VERTICAL-ALIGN: -3px
}
#goodVersionNum {
	VERTICAL-ALIGN: -3px
}
#gotoBaike {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 12px; PADDING-TOP: 12px; TEXT-ALIGN: center
}
#userTitleLink {
	FONT-WEIGHT: bold; VERTICAL-ALIGN: 5px; COLOR: #36c; TEXT-DECORATION: none
}
#userProcessBack {
	MARGIN-TOP: 5px; FONT-SIZE: 0px; BACKGROUND: url(http://img.baidu.com/img/baike/views/userinfo/userinfo_bg.gif) no-repeat 0px -94px; WIDTH: 157px; LINE-HEIGHT: 0; HEIGHT: 13px
}
#userProcess {
	FONT-SIZE: 0px; BACKGROUND: url(http://img.baidu.com/img/baike/views/userinfo/userinfo_bg.gif) no-repeat 0px -108px; WIDTH: 33px; LINE-HEIGHT: 0; HEIGHT: 12px
}
#hotWord {
	PADDING-RIGHT: 8px; DISPLAY: none; PADDING-LEFT: 12px; PADDING-BOTTOM: 0px; PADDING-TOP: 8px; POSITION: relative
}
#effort {
	PADDING-RIGHT: 8px; DISPLAY: none; PADDING-LEFT: 12px; PADDING-BOTTOM: 0px; PADDING-TOP: 8px; POSITION: relative
}
#gotoBaike {
	PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
#hotWord H3 A {
	FONT-SIZE: 14px; FLOAT: left; COLOR: #36c; LINE-HEIGHT: 18px; MARGIN-RIGHT: 10px; TEXT-DECORATION: none
}
#effort H3 A {
	FONT-SIZE: 14px; FLOAT: left; COLOR: #36c; LINE-HEIGHT: 18px; MARGIN-RIGHT: 10px; TEXT-DECORATION: none
}
#hotWord H3 #hotWordRefresh {
	DISPLAY: inline; BACKGROUND: url(http://img.baidu.com/img/baike/views/userinfo/userinfo_bg.gif) no-repeat 0px -39px; FLOAT: right; WIDTH: 18px; MARGIN-RIGHT: 0px; HEIGHT: 19px
}
#hotWord H3 #hotWordRefresh:hover {
	BACKGROUND: url(http://img.baidu.com/img/baike/views/userinfo/userinfo_bg.gif) no-repeat -23px -39px
}
#hotHelp {
	DISPLAY: inline; BACKGROUND: url(http://img.baidu.com/img/baike/views/userinfo/userinfo_bg.gif) no-repeat 0px -122px; WIDTH: 16px; HEIGHT: 16px
}
#goToUserCenterLink {
	DISPLAY: block; FONT-SIZE: 14px; BACKGROUND: url(http://img.baidu.com/img/baike/s/uc_bt.gif) no-repeat; MARGIN: 0px auto; WIDTH: 127px; TEXT-INDENT: 20px; LINE-HEIGHT: 26px; HEIGHT: 30px; TEXT-DECORATION: none
}
#hotWords {
	FONT-SIZE: 12px; MARGIN: 6px 0px 0px; OVERFLOW: hidden; WIDTH: 100%; COLOR: #999; FONT-FAMILY: "宋体"; LIST-STYLE-TYPE: none
}
#efforts {
	FONT-SIZE: 12px; MARGIN: 6px 0px 0px; OVERFLOW: hidden; WIDTH: 100%; COLOR: #999; FONT-FAMILY: "宋体"; LIST-STYLE-TYPE: none
}
#hotWords SPAN {
	FONT-SIZE: 12px; FONT-FAMILY: "arial"
}
#efforts SPAN {
	FONT-SIZE: 12px; FONT-FAMILY: "arial"
}
#efforts .ef-type {
	COLOR: #000
}
#efforts .ef-type:hover {
	COLOR: #36c
}
#hotWords LI SPAN {
	COLOR: #000
}
#effort LI SPAN {
	COLOR: #000
}
#hotWords LI A {
	FONT-SIZE: 12px; COLOR: #36c; LINE-HEIGHT: 20px; FONT-FAMILY: "arial"; TEXT-DECORATION: none
}
#effort LI A {
	FONT-SIZE: 12px; COLOR: #36c; LINE-HEIGHT: 20px; FONT-FAMILY: "arial"; TEXT-DECORATION: none
}
#hotWords LI A:hover {
	TEXT-DECORATION: underline
}
#effort LI A:hover {
	TEXT-DECORATION: underline
}
#highVersionLink {
	DISPLAY: inline-block; BACKGROUND: url(http://img.baidu.com/img/baike/hotword_img.gif) no-repeat 0px -72px; MARGIN: 0px 3px; VERTICAL-ALIGN: middle; WIDTH: 12px; HEIGHT: 17px
}
#goodVersionLink {
	DISPLAY: inline-block; BACKGROUND: url(http://img.baidu.com/img/baike/hotword_img.gif) no-repeat -32px -72px; MARGIN: 0px 3px; VERTICAL-ALIGN: middle; WIDTH: 12px; HEIGHT: 17px
}
.tipMain {
	BORDER-RIGHT: #ffd4ad 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #ffd4ad 1px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; BORDER-LEFT: #ffd4ad 1px solid; COLOR: #535353; LINE-HEIGHT: 20px; PADDING-TOP: 0px; BORDER-BOTTOM: #ffd4ad 1px solid; BACKGROUND-COLOR: #fff7f0
}
.tip {
	DISPLAY: none; POSITION: absolute
}
.reason-tip {
	LEFT: 100px; WHITE-SPACE: nowrap
}
#userTip {
	LEFT: 30px; WIDTH: 216px; TOP: 81px; HEIGHT: 78px
}
#userTipArrow {
	Z-INDEX: 99; BACKGROUND: url(http://img.baidu.com/img/baike/views/userinfo/userinfo_bg.gif) no-repeat -59px -42px; LEFT: 94px; WIDTH: 16px; POSITION: absolute; TOP: 0px; HEIGHT: 7px
}
#userTipMain {
	WIDTH: 216px; POSITION: absolute; TOP: 6px; HEIGHT: 78px
}
#userTipMain P {
	FONT-SIZE: 12px; MARGIN: 8px
}
#hotHelpTip {
	LEFT: 115px; WIDTH: 166px; LINE-HEIGHT: 15px; TOP: 30px
}
#completeTip {
	LEFT: 40px
}
#completeTipMain {
	min-width: 200px
}
#completeTipMain SPAN {
	COLOR: red
}
.userin-split {
	BORDER-TOP: #a0cce0 1px solid; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 0px; MARGIN: 10px 8px 0px 0px; LINE-HEIGHT: 0; BORDER-BOTTOM: #fff 1px solid; HEIGHT: 0px; BORDER-RIGHT-WIDTH: 0px
}
#sidecatalog {
	Z-INDEX: 1; HEIGHT: 120px
}
#sidecatalog A.gotop {
	DISPLAY: block; BACKGROUND: url(http://img.baidu.com/img/baike/s/sidebar.gif) no-repeat 0px -104px; WIDTH: 28px; HEIGHT: 22px
}
#sidecatalog .sidebar {
	BACKGROUND: url(http://img.baidu.com/img/baike/s/sidebar.gif) no-repeat 0px 0px; WIDTH: 28px; CURSOR: pointer; HEIGHT: 104px
}
.show#sidebar {
	BACKGROUND-POSITION: -42px 0px
}
#side-catalog-content {
	BORDER-RIGHT: #a3d0e4 1px solid; BORDER-TOP: #a3d0e4 1px solid; BACKGROUND: #fff; BORDER-LEFT: #a3d0e4 1px solid; WIDTH: 250px; BORDER-BOTTOM: #a3d0e4 1px solid
}
#side-catalog-content H2 {
	PADDING-LEFT: 16px; FONT-WEIGHT: normal; FONT-SIZE: 14px; BACKGROUND: url(http://img.baidu.com/img/baike/s/list-dot.gif) no-repeat 0px 8px; OVERFLOW: hidden; LINE-HEIGHT: 20px; HEIGHT: 20px
}
#side-catalog-content H3 {
	PADDING-LEFT: 16px; FONT-WEIGHT: normal; FONT-SIZE: 14px; BACKGROUND: url(http://img.baidu.com/img/baike/bgs3.gif) no-repeat 2px -327px; MARGIN-LEFT: 10px; OVERFLOW: hidden; LINE-HEIGHT: 20px; HEIGHT: 20px
}
#side-catalog-content A {
	TEXT-DECORATION: none
}
#side-catalog-content A:hover {
	TEXT-DECORATION: none
}
#side-title-panel {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; OVERFLOW: hidden; PADDING-TOP: 0px; ZOOM: 1; POSITION: relative
}
#side-title-list {
	POSITION: absolute
}
#side-title-panel H2.on A {
	BACKGROUND: #d4eafd
}
#side-title-panel H3.on A {
	BACKGROUND: #d4eafd
}
#side-title-panel A {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
#side-catalog-up DIV {
	BACKGROUND: url(http://img.baidu.com/img/baike/s/arr.gif) #f4f9fb no-repeat center -133px; MARGIN-BOTTOM: 4px; OVERFLOW: hidden; CURSOR: pointer; HEIGHT: 16px
}
#side-catalog-down DIV {
	BACKGROUND: url(http://img.baidu.com/img/baike/s/arr.gif) #f4f9fb no-repeat center -133px; MARGIN-BOTTOM: 4px; OVERFLOW: hidden; CURSOR: pointer; HEIGHT: 16px
}
.disable#side-catalog-down DIV {
	BACKGROUND: #f4f9fb; CURSOR: default
}
.disable#side-catalog-up DIV {
	BACKGROUND: #f4f9fb; CURSOR: default
}
.hover#side-catalog-up DIV {
	BACKGROUND-POSITION: center -46px
}
.hover#side-catalog-down DIV {
	BACKGROUND-POSITION: center 7px
}
#side-catalog-down DIV {
	BACKGROUND-POSITION: center -89px; MARGIN: 4px 0px 0px
}
A.try-edit {
	PADDING-LEFT: 16px; FONT-WEIGHT: bold; BACKGROUND: url(http://img.baidu.com/img/baike/s/edit.gif) no-repeat 0px 50%; MARGIN-LEFT: 8px
}
